<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
</head>
<body>

<h1>My First Heading</h1>

<img src="images/o.png" />
<img src="images/x.png" />

<table class="board">
    <tr>
        <td id="board-0-0"></td>
        <td id="board-0-1"></td>
        <td id="board-0-2"></td>
    </tr>
    <tr>
        <td id="board-1-0"></td>
        <td id="board-1-1"></td>
        <td id="board-1-2"></td>
    </tr>
    <tr>
        <td id="board-2-0"></td>
        <td id="board-2-1"></td>
        <td id="board-2-2"></td>
    </tr>
</table>

</body>
</html>
