<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
</head>
<body>
    <h1>Tic Tac Toe</h1>

    <table class="board">
        <tr>
            <td id="board-0-0"></td>
            <td id="board-0-1"></td>
            <td id="board-0-2"></td>
        </tr>
        <tr>
            <td id="board-1-0"></td>
            <td id="board-1-1"></td>
            <td id="board-1-2"></td>
        </tr>
        <tr>
            <td id="board-2-0"></td>
            <td id="board-2-1"></td>
            <td id="board-2-2"></td>
        </tr>
    </table>

    <h2 id="game-info"></h2>

    <button type="button" id="restart">Restart game</button>
</body>
</html>
