h1 {
  color: blue;
  text-align: center;
}

h2 {
  text-align: center;
}

td {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.board {
  margin: 0 auto;
}

#restart {
  margin: 0 auto;
  display: block;
}
